.cards_content {    
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;    
}

.section_pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.section_pagination .div_pagination {
    width: auto;
    background-color: #5865f2;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.section_pagination .div_pagination .item_izquierdo,
.section_pagination .div_pagination .item_derecho {
    background-color: #5865f2;
    height: 30px;
    width: 30px;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.section_pagination .div_pagination .item {
    color: white;
    height: 30px;
    width: 40px;
    display: grid;
    place-items: center;
    background-color: #424242;
    border: 1px solid #5865f2;
}